h1, h3
{
    text-align:center;
}
h3
{
    background-color:black;
    color:#28a745;
    font-size:1.2em;
    margin-bottom:0px;
    border-radius: 25px;
}
.news p
{
    background-color:#6c757d;
    margin-top:0px;
    border-radius: 10px;
    border-color: red;
}
.news
{
    width:70%;
    margin:auto;
}

a
{
    text-decoration: none;
    position: relative;
    left: 20px;
    color: black;
}
em
{
    font-size: 0.9em;
}
p
{
    color: white;
}
.comments, .author
{
    color: black;
    text-align: center;
}
.suite
{
    color: #6c757d;
}

