h1, h3, .lead
{
    text-align:center;
}
h3
{
    background-color: #D9D9D9;
    font-size:1.2em;
}
em
{
    font-size: 0.9em;
}
p
{
    color: black;
}
.comments, .author
{
    color: black;
    text-align: center;
}
.suite
{
    color: #6c757d;
}
.red
{
    color: #6D000F;
    font-weight: bold;
}
body
{
    color: white;
}
