h1, h3
{
    text-align:center;
}
h3
{
    background-color: #D9D9D9;
    font-size:1.2em;
    margin-bottom:0px;
    border-radius: 10px;
}
.news p
{
    background-color:#6c757d;
    margin-top:0px;
    border-radius: 10px;
    border-color: red;
}
.news
{
    width:50%;
    margin:auto;
}

a
{
    text-decoration: none;
    position: relative;
    left: 20px;
    color: black;
}
em
{
    font-size: 0.9em;
}
p
{
    color: black;
}
.comments, .author
{
    color: black;
    text-align: center;
}
.suite
{
    color: #6c757d;
}
.red
{
    color: #6D000F;
    font-weight: bold;
}
body
{
    color: white;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width : 576px) {

    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 1140px;
    }
}